/***************************************
On indique le type de police a utiliser
****************************************/
/*aside*/
@font-face
{
	font-family: 'Maestros-font';
	src: url('fonts/TEMPSITC.TTF');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'Maestros-font-chat';
	src: url('fonts/Exo2-Light.otf');
	font-weight: normal;
	font-style: normal;
}


body{
    /*Pour pouvoir fonctionner sur tous les navigateurs et aussi
    pour pouvoir faire un reset par la suite*/
    margin: 0px;
    padding: 0px;
    font-family: Maestros-font;
    background-color: lightgoldenrodyellow;
}
.div_profil
	{
		display: flex;
		width: 60%;
		margin-left: 20%;
		justify-content: space-between;
	}
	.div_profil button:hover
	{
		cursor: pointer;
		color: red;
		background-color: black;
	}
	.div_profil button
	{
		color: white;
		font-weight: 600;
		background-color: deepskyblue;
		height: 40px;
		border: none;
		outline:none;
		font-size: 25px;
		padding: 5px;
		margin-top: 11%;
		margin-right:  25%;
	}
	.div_profil .file_btn:hover{
		cursor: pointer;
	}
	.div_profil .file_btn
	{
		
	}
	#form_profil
	{
		margin-left: 10%;
	}
	#form_profil *{
		display: block;
		color: white;
		font-weight: 800;
		background-color: deepskyblue;
		height: 40px;
		border: none;
		outline:none;
		font-size: 18px;
		padding: 5px;
		margin-top: 8%;
	}
	#form_profil *:hover{
		cursor: pointer;
		color: red;
		background-color: black;
	}

.profil_utilisateur{
	border-radius: 100px;
	box-shadow: 1px 1px 10px 5px deepskyblue;
	margin-bottom: 25px;
	margin-top: 25px;
}
.pas_encore_telecharger_de_cours{
	margin-top: 40px;
	color: rgba(10, 10,10,1);
	font-weight: 600;
	margin-left: 15%;	
	font-size: 30px;
	border-top: 7px solid lightgreen;
	text-shadow: 4px 4px 10px red;
}
.profil_utilisateur:hover{
	cursor: pointer;
	box-shadow: 1px 1px 10px 5px red;
}
.ensemble{
    height: 150px;
    
    /*background-color: lightyellow;*/
    background-color: lightgoldenrodyellow;
    position: relative;
    padding-top: 35px;
}
 .ensemble .div_description
 {
 	position: absolute;
 	background-color: rgba(10,10,10,0.3);
 	margin-top: 40px;
 	min-width: 100%;
 }
 .div_description b{
 	font-size: 14.5px;
 	display: none;
 	animation-name: description_animetop;
    animation-duration: 2s;
      
 }
 @keyframes description_animetop{
      from{
        top: -400px;
        opacity: 0
      }
      to{
        top: 0;opacity: 1
      }
    }
  .div_description button
  {
  	float: right;
  	margin-right: 20px;
  	margin-top: 10px;
  	margin-bottom: 5px;
  	border:none;
  	background-color: lightgreen;
  	padding: 5px;
  	font-weight: 600;
  	color: white;
  	letter-spacing: 1px;
  }
   .div_description button:hover
  {
  	cursor: pointer;
  }
.ensemble .genius_title
{
	margin-bottom: 60px;
	margin-left: 10%;
	font-size: 50px;
	font-weight: 900;
	color: #A12;
	text-shadow: 1px 3px 5px black;
	border-left: 10px solid rgb(1,150,152);
	padding-left: 1%;
}
.central{
	font-size: 20px;
	text-align: justify;
	font-family: Maestros-font-chat;

}
.description{
	background-color: #faf;
	padding: 5px 20px 5px 20px;
	width: 80%;
	margin: auto;
	border-radius: 10px;
	margin-bottom: 20px;
}
.btnconexion{
	text-align: center;
}
.btnconexion button{
	background-color: gray;
	text-decoration: none;
	border: 1px solid;
	padding: 5px 10px 5px 10px;
	font-size: 20px;
	border-radius: 10px;
	
}
.btnconexion .accepte{
	margin-right: 1.5%;
}
.btnconexion .refus{
	margin-left: 1.5%;
}
.btnconexion button:hover{
	cursor: pointer;
	background-color: rgb(0,111,152); 

}
nav li{
    list-style-type: none; /*Propriété css qui sert a retirer les puces*/
    float: left; /*Mettre les éléments en ligne en partant de la gauche*/
}nav li:hover{
   cursor: pointer;
}
/*On effectue un reset des marges de notre  élément de liste*/
nav ul{
    margin: 0px;
    padding: 0px;
    
} 
/*Etendre le menu de navigation sur toute notre page*/
nav{
    width: 100%;
    background-color: rgb(0,111,152);/**#424558**/
}

nav a{
    display: inline-block;
    text-decoration: none;/*Retirer le soulignement sur le lien*/
    padding: 20px 30px;
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    
}




.LignePresentation{
    display: table;
    margin: auto;/*Afin de centrer les éléments de notre menu*/
}
.menu-accueil:hover{
    border-top: 5px solid #438A22;
    background-color: rgb(190,100,130,0.15);
}    
.menu-bienvenue:hover{
   
    background-color: rgb(40,150,180,0.15);
}
.menu-Incription:hover{
    border-top: 5px solid #f1dc4f;
    background-color: rgb(300,100,110,0.15);
}
.menu-Conexion:hover{
    border-top: 5px solid #43B110;
    background-color: rgb(40,150,180,0.15);
}
.menu-Forum:hover{
    border-top: 5px solid #A1Ac4f;
    background-color: rgb(120,250,300,0.15);
}
.menu-contacter:hover{
    border-top: 5px solid #A1dc4f;
    background-color: rgb(290,60,400,0.15);
}
.menu-password:hover{
     border-top: 5px solid #A1dc4f;
    background-color: rgb(290,60,400,0.15);
    
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}
.centre-accueil .img-accueil
	{
		width: 60px;
	}
.newmembre{
	border: 1px solid;
	width: 30%;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	padding: 5px 10px 10px 10px;
	border-radius: 10px;

}
.add_new_course{
	border-left: 10px solid red;
	margin-left: 30%;
}
.centre-accueil .geniusP{
	background-color: rgb(1,150,152);
	margin-left: 10%;
	width: 30%;
	width: auto;
	max-width: 80%;
	font-size: 25px;
	color: black;
	text-align: center;
	 border-radius: 20px;
	 border-top: 5px solid rgb(0,111,152);
	 margin-bottom: 50px;
	 /*
	 1 le decalage horizontale de l'ombre
	 2 le decalage verticale de l'ombre
	 3 l'adoucissement du degradee
	 4 et la couleur de lombre*/
}
.liendenavigation{
  display: flex;
  justify-content: space-around;
  width: 60%;
  background-color: gray;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 20px;
  font-family: Maestros-font-chat;
  border: 2px solid;
  border-radius: 10px;
}

.liendenavigation a{
	text-decoration: none;
	font-size: 25px;
	color: black;
}
.liendenavigation a:hover{
	cursor: pointer;
}
.centre-accueil .geniusB{
	font-size: 35px;
}
.text{
	width: 60%;
	float: right;
}
.text .p, .text .p1{
	font-family: sans-serif;
}
.text .p{
	font-size: 50px;
	background-color:cornflowerblue;
	text-align: center;
}
.text .p1{
	font-size: 25px;
}
.content-block{
	margin: auto;
	width: 78%;
	text-align: right;
	background-color: aliceblue;
	overflow-y: auto;
		border-radius: 20px;
		margin-top: 2%;
	 /*
	 1 le decalage horizontale de l'ombre
	 2 le decalage verticale de l'ombre
	 3 l'adoucissement du degradee
	 4 et la couleur de lombre*/
	 box-shadow:3px 2px 10px 5px rgb(0,111,152); 
}

.img-block{
	width: 20%;
	float: left;
}
.content{
	display: flex;

}
/*CSS POUR LE COTE GAUCHE DEROULANT*/
.publicite{
	margin-top: 10%;
	font-size: 25px;
	display: inline-block;
	background-color: lightgreen;
      
}



.publicite  .icone-insta{
	margin-left: 5px;

}
.publicite .icone-whatsapp{
	width: 30%
	background-color: black;

}

.publicite p{
	border-left: 10px solid red;
	margin-left: 10%;
	font-weight: 900;
	color: deepskyblue;
}
.publicite p:hover{
	cursor: pointer;
}
.publicite li{
	 list-style-type: none; 
    float: left; 
    width: 30%;
}
.publicite .icone-youtube{
	width: 80%;
	margin: auto;
} 
.publicite ul{
    margin: 0px;
    padding: 0px;
    
}
.publicite li:hover{
	cursor: pointer;
}
.publicite a{
	display: inline-block;
}
/*.publicite .icone-youtube{
	width: 110%;
	margin-left: 70%;
	margin-top: 30%;
}
*/ .publicite .icone-insta{
 	width: 60%;
 }
 .pub-logiciels{
 	width: 90%;
 	margin-left: 5%;
 	margin-bottom: 10px;
 }
.publicite .icone-fb{
	margin-left: 10%;
}



.menu-gauche
{
	width: 25%;
	height: 1000px;
	display: flex;
	flex-direction: column;
}

.image{
	width: 100%;
	border-radius: 10px;
}
.ex-menu-gauche{
	background-color: #AAA;
	height: 500px;
	text-align: center;
	 border-radius: 20px;
	 border-top: 5px solid rgb(0,111,152);
	 /*
	 1 le decalage horizontale de l'ombre
	 2 le decalage verticale de l'ombre
	 3 l'adoucissement du degradee
	 4 et la couleur de lombre*/
	 box-shadow:6px 6px 10px 5px rgb(0,111,152); 
	 margin-left: 0.6%;
	 margin-top: 10px;
}
.ex-menu-gauche aside{
	outline: none;
	font-weight: 800;
	
	/*font-size: 20px;*/
}
aside .titles{
	text-shadow: 2px 0.5px 4px blue;
}


.ex-menu-gauche  .titles{
	font-size: 25px;
	font-family: sans-serif;
}
.ex-menu-gauche  div{
	padding: 10px;
	font-style: italic;
	text-align: center;
	text-decoration: none;
}
.ex-menu-gauche  div:hover{
	background-color: rgb(0,111,152);
	cursor: pointer;
	border-radius: 10px;
}
aside .titles:hover{
	background-color: #faf;
}

/*CSS POUR LE COTE DROIT DEROULANT*/

.menu-droit{
	 width: 20%;
	 justify-content: space-around 50px;
}


/*CENTRE ACCUEIL*/
.centre-accueil{
		padding-left: 0.8%;
		width: 55%;
		height: auto;

}
/*Tableau des cours suivis */
.centre-accueil .tableau-cours{
	border:none;
	background-color: transparent;
	box-shadow: 10px 10px 5px rgb(0,111,152); 
	margin-bottom: 30px;
	margin-top: 30px;
}
.centre-accueil .tableau-cours th,.centre-accueil .tableau-cours td {
		border-radius: 10px;
		height: 50px;
}
.centre-accueil .tableau-cours th:hover,.centre-accueil .tableau-cours td:hover {
    background-color: rgb(0,111,152);


}
.centre-accueil table th:hover{
	cursor: pointer;
}

/*Le user conecte*/
.user_conected_style{
	color: #A12;
	font-weight: 900;
	font-size: 28px;
}
/*LE FOOTER*/
footer{
    margin-top: 20px;
    height: 70px;
    text-align: center;
    background-color: rgb(0,111,152);
    border-top: 2px solid #AAA;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 1px 2px 10px red;
}
/********************MES COURS**********************/
.information-personnels{
	background-color: gray;
	border-radius: 10px;
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	margin-top: 4%;
	margin-bottom: 3%;
	border: 3px solid;
	border-color: #A12;
	box-shadow: 1px 1px 10px 1px #A12;
}

.tableau-cours{
	margin: 0 auto;
	width: 80%
}
.text-declaration{
	width: 70%;
	margin-left: 15%;
	border-left: 10px solid rgb(0,111,152);
	padding-left: 10px;
	font-size: 28px;
	text-shadow: 5px 5px 5px black;
}
.nouscontacter{
	border-radius: 5px;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: auto;
  height: 410px;
  height: auto;
  max-height: 500px;
  width: 60%;
  display: flex;
  flex-direction: column;
  background: rgba(20,20,40,1);

}
.nouscontacter input{

  height: 50px;
  margin: auto;
  width: 95%;
  background: white;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
}
.nouscontacter .submitcontact{
	  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;

} 

 .nouscontacter .champ_reset{
   background: rgb(1,150,152);
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
 }


.demandeenvoier{
	height: 60px;
	width: 95%;
}
.nouscontacter .submitcontact:hover{
	background: #2691d9;
}
.nouscontacter *{
	letter-spacing: 1px;
	font-size: 20px;
	padding: 2px 10px 2px 10px;
 width: 95%;
 max-width: 95%;
 margin: auto;
}
.nouscontacter textarea{
	width: 94.31%;
}
label {
	color: #3498db;
}

.logicielPresentation{
	margin: auto;
	width: 80%;
}
/***************************
*********Les commentaire****
*****************************/
.Commentaire
{
	margin-top: 10px;
	padding: 5px;
	font-family: Maestros-font-chat;
	border: 1px solid lightgreen;
	height: 400px;
	height: auto;
	max-height: 40%;
	overflow-y: auto;

}
.Commentaire .Commentaire_title
{
	width: 100%;
	font-size: 20px;
	padding-bottom: 5px;
	background-color: rgba(900,900,900, 0.5);
	box-shadow: 0px 2px 5px 5px gray;
}

.Commentaire p
{
	background-color: rgba(10,10,10,0.2);
}
.Commentaire  span
{
  float: right;
  color: black;
  opacity: 0.5;
  font-size: 25px;
  margin-right:3%;
  margin-top:0%;
}
.Commentaire  span:hover{
	cursor: pointer;
	color: #A12;
	opacity: 1;
}
.Commentaire_form
{

	display: flex;
	flex-direction: column;
	display: none;
	margin-bottom: 5%;
}
.Commentaire_form input
{
	height: 30px;
  width: 100%;
  border: none;
  outline: none;
  color: #222;
  font-weight: 600;
  background-color: #3498db;
  letter-spacing: 1px;
  color: white;
  border:none;
  outline:none;
}
.Commentaire_form textarea{
	border-radius: 4px;
	border: 1px solid gray;
	width: 100%;
	 border:none;
  outline:none;
}
.Commentaire_form input:hover
{
	cursor: pointer;

}

.Commentaire .com_INVERSE, .Commentaire .post_INVERSE
{
	display: flex;
	margin-bottom: 5%;
	/*flex-direction: column;*/
}
.com_INVERSE .mon_iccone, .post_INVERSE .mon_iccone
{
	background-color: deepskyblue;
	width: 20%;
	margin-right: 5%;
	border-radius: 70px;
	text-align: center;
	padding-top: 8px;
	font-weight: 900;
	color:white;
	height: 25px;
}

.commentaire_publics{
	text-align: center;
	font-weight: 900;
	color: white;
	background-color: deepskyblue;
	margin-bottom: 5%;
}
.commentaire_publics:hover{
	cursor: pointer;
}

 .com_INVERSE .commentaire_public:hover, .post_INVERSE .commentaire_post:hover
 {
 	cursor: pointer;
 }

 .liste_commentaire p,  .liste_commentaire i
 {
   opacity: 0.7;
   font-size: 15px;
 }
 .liste_commentaire
 {
 	display: none;
 }
   .liste_commentaire i
  {
  	 font-size: 12px;
  }

 .liste_commentaire .commentaire_post
 {
 	padding: 0px 5px 5px 5px;
 	border-top: 0.5px solid gray;
 	border-bottom: 0px solid gray;
 	width: 100%;
 	border-color: rgba(10,10,10,0.4);

 }
/*Mon compte css*/
.mon_compte_center{
	width: 80%;
	margin-left: 10%;
	margin-top: 4px;
	border: none;
}
/*mon_compte_center contenu-compte*/

.mon_compte_center .contenu-compte
{
	background-color: deepskyblue;
	box-shadow: 2px 2px 10px 4px gray;
}



