/***************************************
On indique le type de police a utiliser
****************************************/
@font-face
{
  font-family: 'Maestros-font';
  src: url('fonts/TEMPSITC.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: 'Maestros-font-chat';
  src: url('fonts/Exo2-Light.otf');
  font-weight: normal;
  font-style: normal;
}


 #mybtn{
      font-size: 30px;
      color: yellow;
    }
    #mybtn:hover{
      cursor: pointer;
    }
    .modal{
      display: none;
      background-color: transparent;
      /*margin: auto;*/
      padding: 0;
      position: fixed;
      z-index: 999;
            animation-name: animetop;
      animation-duration: 1s;
      
      height:200%;
/*      max-height: 100%;
*/      width: 100%;
      /border:none;
/*      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);*/

  }

    @keyframes animetop{
      from{
        top: -400px;
        opacity: 0
      }
      to{
        top: 0;opacity: 1
      }
    }
    .modal-content{
      z-index: 10;
      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
      font-family: Maestros-font-chat;
      height: 25%;
      height: auto;
      max-height: 90%;
      margin-left: 15%;
      margin-top: 10%;


    }
    .close{
      color: red;
      float: right;
      font-size: 38px;
      font-weight: bold;

    }
    .close:hover, .close:focus{
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    .modal-header{
      letter-spacing: 2px;
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
      font-size: 20px;
    }
    .modal-body{
      font-size: 23px;
      padding: 2px 16px;
    }
    .modal-footer{
      text-align: center;
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
    }
    .modal-footer button{
      height: 50px;
      border: none;
      font-size: 25px;
      width: 40%;
      border: 1px solid;
      outline: none;
      background-color: #3498db;
      letter-spacing: 1px;
      color: white;
      font-weight: 600;
      cursor: pointer;
    }
